.btn {
  color: var(--clr-highlight-primary-500);
  border: solid bordersize(small) var(--clr-highlight-primary-500);
  transition: 500ms all ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-highlight-primary-500);
    color: var(--clr-neutral-100);
  }

  &_primary {
    border-radius: borderradius(big);
    padding: 1rem;
  }

  &_secondary {
    width: 100%;
    height: 100%;
    border: none;
  }
}
