header {
  position: relative;
  padding-top: 1rem;
  margin-bottom: 5rem;

  @include mq(xl) {
    padding-top: 0;

    &::after {
      content: '';
      @include position(absolute, null, 0, 0, null);
      width: 34rem;
      height: 0.2rem;
      background-color: var(--clr-highlight-primary-500);
    }
  }

  .hamburger {
    @include position(absolute, 1rem, 10%, null, null);

    svg {
      height: svgsize(small);
      fill: var(--clr-neutral-700);
    }
  }

  > div {
    @include flex(center, center, column);
    position: relative;

    @include mq(xl) {
      flex-direction: row;
      height: 3.75rem;
    }

    .logo {
      @include flex(center, center, row);

      svg {
        fill: var(--clr-highlight-primary-500);
        width: svgsize(normal);
      }

      span {
        text-transform: uppercase;
        font-weight: bolder;
        color: var(--clr-highlight-primary-500);
      }
    }

    nav {
      background-color: var(--clr-neutral-100);
      width: 100vw;
      display: none;
      z-index: 50;

      @include position(absolute, 5.063rem, null null, null);

      @include mq(xl) {
        width: 100%;
        display: block;
        position: initial;
        z-index: 0;
      }

      &.nav_open {
        display: block;
      }

      ul {
        padding: 0;

        @include mq(xl) {
          @include flex(flex-end, center, row);
        }

        li {
          list-style: none;

          a {
            display: block;
            font-size: fontsize(nav);
            padding: 1.93rem 0;
            text-align: center;
            text-decoration: none;
            color: var(--clr-neutral-700);
            transition: 500ms all ease-in-out;
            font-weight: bold;

            &::first-letter {
              color: var(--clr-highlight-primary-500);
            }

            &:hover,
            &:focus-visible,
            &.active {
              color: var(--clr-highlight-primary-500);
            }

            &:hover,
            &:focus-visible {
              outline: var(--clr-highlight-primary-500) solid 0.0625rem;
            }

            @include mq(xl) {
              padding: 0 1rem;
            }
          }
        }
      }
    }
  }
}
