@import '../2-mixins/mq';
@import '../2-mixins/flex';
@import '../2-mixins/position';
@import '../3-base/variables';

.welcome {
  height: 70vh;
  margin-bottom: 2rem;
  @include flex(center, center, column);

  &::before {
    content: '';
    height: 70vh;
    width: 100%;
    background: url('../../img/home_hero.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    @include position(absolute, 0, null, null, null);
  }

  &::after {
    content: '';
    height: 70vh;
    width: 100%;
    background-color: rgba(0, 0, 0, $alpha: 0.5);
    filter: blur(5px);
    @include position(absolute, 0, null, null, null);
  }

  @include mq(xl) {
    border-radius: borderradius(big);
    height: 25rem;
  }

  .content {
    filter: blur(0);
    position: relative;
    z-index: 10;

    h1,
    p {
      color: var(--clr-neutral-100);
    }
  }
}

.cards {
  grid-template-columns: 1fr;

  @include mq(m) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
