$colors: (
  neutral: (
    100: #fff,
    200: #f6f6f6,
    300: #e5e5e5,
    400: #808080,
    500: #2b2b2b,
    600: #0f0f0f,
    700: #0c0c0c,
    800: #050505,
    900: #000,
  ),
  highlight: (
    500: #00ffdc,
    700: #03b89f,
  ),
  feedback-success: (
    100: #00de3b,
    500: #00780e,
    900: #004f15,
  ),
  feedback-error: (
    100: #de0000,
    500: #780000,
    900: #4f0000,
  ),
);
