$colors: (
  neutral: (
    100: #e1e1e1,
    200: #d9d9d9,
    300: #d0d0d0,
    400: #b3b2b2,
    500: #817f80,
    600: #514e4f,
    700: #211d1e,
  ),
  highlight-primary: (
    500: #e60027,
  ),
  highlight-secondary: (
    500: #e60056,
  ),
  feedback-success: (
    100: #00de3b,
    500: #00780e,
    900: #004f15,
  ),
  feedback-error: (
    100: #de0000,
    500: #780000,
    900: #4f0000,
  ),
);
