.mobile-visible {
  display: block;

  @include mq(xl) {
    display: none;
  }
}

.desktop-visible {
  display: none;

  @include mq(xl) {
    display: block;
  }
}

.wrapper {
  width: 90%;
  margin: 0 auto;

  @include mq(xxxl) {
    width: 1780px;
  }
}

.bold {
  font-weight: bold;
}
